body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head-container {
    display: flex;
    flex-direction: column;
}

.header-container {
}

.content-container {

    display: flex;
    flex-direction: row;
    width: 350px;
}

.main-container {

}

.makeStyles-root-1 {
    margin-right: 100px;
    background-color: gainsboro !important;
}

.makeStyles-lists-2, .MuiList-root {
    background-color: gainsboro !important;
}

.sidenav-container {

}

.MuiListItem-root {
    color: black;
    text-decoration: none;
    font-weight: bold !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.MuiListItem-root:hover {
    color: deepskyblue;
    text-decoration: underline;
    font-weight: bold;
}

.MuiTableCell-root:hover {
    cursor: pointer !important;

}

.MuiTableCell-root {
    cursor: pointer !important;
    padding-right: 60px !important;
}

.MuiPaper-root {
    box-shadow: none !important;
}

.MuiButtonBase-root {
    margin-right: 30px !important;

}

.veteranInfo-container {
    display: flex;
    flex-direction: column;
}

.clientForm-container {
    display: flex;
    flex-direction: column;
}

